[submodule "devTT-Api"]
	path = devTT-Api
	url = https://github.com/bccalegari/devTT-Api
[submodule "devTT-MailSender-Api"]
	path = devTT-MailSender-Api
	url = https://github.com/bccalegari/devTT-MailSender-Api
[submodule "devTT-WebApp"]
	path = devTT-WebApp
	url = https://github.com/bccalegari/devTT-WebApp
[submodule "devTTMailSender-Api"]
	path = devTTMailSender-Api
	url = https://github.com/bccalegari/devTTMailSender-Api
